// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
// No more vendor prefixes. http://visionmedia.github.com/nib/
@import 'nib'

// Apply a natural box layout model to all elements.
// http://paulirish.com/2012/box-sizing-border-box-ftw/
*
  box-sizing: border-box

.container
  width: 476px
  margin: 5px auto
  margin-bottom: 0.5em
  color: #fff
  //background-color: #4276b6

.inline
  display: inline