.fieldset
  border: 1px solid #4276b6
  padding: 10px 3px 3px 3px

.outer
  order-left: 1px solid #75736E
  border-top: 1px solid #75736E
  border-right: 1px solid #F2F0EE
  border-bottom: 1px solid #F2F0EE
  width: 100%
  margin-bottom: 15px

.legend
  float: left
  margin-left: 15px
  margin-top: -8px
  padding-left: 5px
  padding-right: 5px
  font-weight: bold
  background: #4276b6