if currentUser()
  button.new-topic.active New Topic
  fieldset.fields
    legend New Topic

    input.title(name="title", for="title", placeholder="Title")
    textarea.content(name="content", placeholder="Content")

    input(type="submit", value="Submit")