form
  fieldset
    legend New Topic

    label(for="title") Title
    br
    input(name="title")

    br
    br

    label(for="content") Content
    br
    textarea(name="content") Blah blah

    br
    br

    input(type="submit")