li
  a.title(href="/topic/#{id}")
  if isAdmin()
    input.eip.edit-title
    span.toggle-edit-title ✔
    span.lock-state &nbsp;(locked)
    | &nbsp;&bull; 
    input.lock-toggle(type="checkbox", title="lock")