li
  a.title(href="/topic/#{id}")
  input.eip.edit-title
  span.toggle-edit-title ✔
  span.lock-state &nbsp;(locked)

  if true
    | &nbsp;&bull; 
    input.lock-toggle(type="checkbox", title="lock")