li
  a.title(href=url("topic#show", {id: id}))
  if locked
    span.lock-state &nbsp;(locked)
  if isAdmin()
    input.eip.edit-title
    span.toggle-edit-title ✔&nbsp;&bull; 
    input.lock-toggle(type="checkbox", title="lock")